In [1]:
import pandas as pd

In [2]:
for i in range (1900, 2020, 10):
    try:
        globals()["family_{}".format("%d" %i)] = pd.read_csv("%d년_행정구역_기준_가구수_추이.csv" %i , header =1) 
        
    except:
        pass

In [3]:
for i in range (1900, 2020, 10):
    try:
        globals()["population_{}".format("%d" %i)] = pd.read_csv("%d년_행정구역_기준_인구_추이.csv" %i , header =1)
        
    except:
        pass

In [4]:
for i in range (1900, 2020, 10):
    try:
        globals()["house_{}".format("%d" %i)] = pd.read_csv("%d년_행정구역_기준_주택수_추이.csv" %i , header =1)
        
    except:
        pass

In [9]:
population_2010

,행정구역별(시군구),총인구,남자,여자,총내국인,남자.1,여자.1,총외국인,남자.2,여자.2
0,전국,48580293,24167098,24413195,47990761,23840896,24149865,589532,326202,263330
1,서울특별시,9794304,4803373,4990931,9631482,4726028,4905454,162822,77345,85477
2,부산광역시,3414950,1676689,1738261,3393191,1664678,1728513,21759,12011,9748
3,대구광역시,2446418,1212584,1233834,2431774,1204428,1227346,14644,8156,6488
4,인천광역시,2662509,1334576,1327933,2632035,1315562,1316473,30474,19014,11460
5,광주광역시,1475745,729330,746415,1466143,724161,741982,9602,5169,4433
6,대전광역시,1501859,750762,751097,1490158,745150,745008,11701,5612,6089
7,울산광역시,1082567,557694,524873,1071673,550869,520804,10894,6825,4069
8,경기도,11379459,5705613,5673846,11196053,5599570,5596483,183406,106043,77363
9,강원도,1471513,738399,733114,1463650,735075,728575,7863,3324,4539
10,충청북도,1512157,758214,753943,1495984,748622,747362,16173,9592,6581
11,충청남도,2028002,1023882,1004120,2000473,1007454,993019,27529,16428,11101
12,전라북도,1777220,872724,904496,1766044,867630,898414,11176,5094,6082
13,전라남도,1741499,852513,888986,1728749,845952,882797,12750,6561,6189
14,경상북도,2600032,1296071,1303961,2575370,1281510,1293860,24662,14561,10101
15,경상남도,3160154,1591430,1568724,3119571,1562686,1556885,40583,28744,11839
16,제주특별자치도,531905,263244,268661,528411,261521,266890,3494,1723,1771

In [60]:
globals()["population_{}".format("%d" %i)] = pd.read_csv("%d년_행정구역_기준_인구_추이.csv" %i , header =1)
globals()["house_{}".format("%d" %i)] = pd.read_csv("%d년_행정구역_기준_주택수_추이.csv" %i , header =1)

NameError: name 'house_2000' is not defined

In [61]:
for i in range (1900, 2020, 10):
    print(i)

1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010